:root{
    --font-bold: specifyPerson;
    --font-normal: roxborough;
    --font-light: roxboroughThin;

    --accent-clr: #f27c22 ;
    --clr:  #252627; 
    --bg: #ffffff;
    
    --border:1px solid var(--accent-clr);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: specifyPerson;
    src: url('./fonts/SpecifyPERSONAL-ExExpBold.ttf');
}

@font-face{
    font-family: roxborough;
    src: url('./fonts/Roxborough\ CF.ttf');
}

@font-face{
    font-family: roxboroughThin;
    src: url('./fonts/FontsFree-Net-roxborough-cf-thin.ttf');
}

body{
    font-family: var(--font-bold);
    padding: 0 4em;
}

a{
    color: var(--clr);
}
span{
    color: var(--accent-clr);
}

.logo{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.nav-bar{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: var(--border); */
    margin-top: 1em;
}
nav a{
    padding-left: 10px;
    text-decoration: none;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:0 4em;
    height:100vh;
}
#intro h2{
    font-size: 71px;
}
#intro div{
    font-size: 46px;
}
#intro a{
    font-size: 19px;
    text-decoration: none;
    border: var(--border);
    border-radius: 25px;

    padding: 1em 2.5em;
    margin-top: 4em;

}
